.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/
*.iml
.idea/
.vscode/
.DS_Store
example/android/local.properties
example/ios/Flutter/Generated.xcconfig
example/ios/Flutter/flutter_export_environment.sh
